.cover {
    height: 400px;
}

.couples {
    width: 766px;
    height: 766px;
}

.couples .card {
    border: 1px solid white;
    display: inline-block;
    width: 150px;
    height: 150px;
}

.couples .card > * {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-size: 100% 100%;
}

.couples .card .forward {
    display: none;
}

.couples .card.opened .back {
    display: none;
}

.couples .card.opened .forward {
    display: block;
}
